body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #014421;
  color: #838996;
}

h1,
p {
  text-align: center;
}

#quiz {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #00008b;
  color: #cd7f32;
  border-radius: 5px;
  text-align: center;
}

#question {
  margin-bottom: 20px;
}

#choices {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 10px auto;
  background-color: #014421;
  color: #838996;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #fff600;
  color: #292421;
}

ul {
  list-style-type: none;
}
